<!DOCTYPE html>
<html lang="en-us">
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  {% include head.html %}

  <body class="theme-base-0b">
    {% if page.comments != false %}{% include facebook-script.html %}{% endif %}
    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
